/* 全画面表示*/

.screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 最初の文字*/

.loading-title{
    font-size: 200px;   /*大きい文字*/
    font-weight: bold; /*太字*/
    font-family: 'Times New Roman', Times, serif;  /*フォントの種類*/
    color: black; /*文字の色*/
    width: fit-content; 
    animation: slide-in 1.2s ease-out forwards;
    opacity: 0;
    margin: 20px auto;  /*中央寄せ*/
}

/* ボタン*/
.start-btn {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 40px;
    margin-top: 40px;
    animation: slide-in 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

li{
    margin: 8px 0;
    padding: 6px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
}

/*起動後メインページ*/
h1{
  font-family: 'Times New Roman', Times, serif;
}

#add-btn{
  font-family: 'Times New Roman', Times, serif;
}



/*ボタン押すと画面が消える*/
.hidden{
  display: none;
}
